Production/views/currentCity.html

<h2 ng-show="error" class="weather__error">We have some problem with weather service. Please, try again later.</h2>
<div ng-hide="error" class="weather__current-city-wrap">
  <h2 class="weather__current-city-name"><span>{{currentCityWeather.city.name}}</span></h2><img ng-src="{{cityImages[cityIndex]}}" class="weather__current-city-photo"/>
  <div class="weather__current-city">
    <section ng-repeat="day in currentCityWeather.list" class="weather__current-city-day-weather">
      <div>
        <p class="weather__current-city-temp"><span>When: {{day.dt * 1000 | date:'EEEE dd/MM'}}</span></p>
        <p class="weather__current-city-temp"><span>Day: {{day.temp.day | number:0}} ℃</span></p>
        <p class="weather__current-city-temp"><span>Night: {{day.temp.night | number:0}} ℃</span></p>
        <p class="weather__current-city-temp"><span>Weather: {{day.weather[0].main}}</span></p>
      </div>
    </section>
  </div>
</div>
<div id="svg-wrap"></div>

Development/jade/views/currentCity.jade
h2.weather__error(ng-show="error") We have some problem with weather service. Please, try again later.
div.weather__current-city-wrap(ng-hide="error")
  h2.weather__current-city-name
    span {{currentCityWeather.city.name}}
  img.weather__current-city-photo(ng-src="{{cityImages[cityIndex]}}")
  div.weather__current-city
    section.weather__current-city-day-weather(ng-repeat="day in currentCityWeather.list")
      div
        p.weather__current-city-temp
          span When: {{day.dt * 1000 | date:'EEEE dd/MM'}}
        p.weather__current-city-temp
          span Day: {{day.temp.day | number:0}} ℃
        p.weather__current-city-temp
          span Night: {{day.temp.night | number:0}} ℃
        p.weather__current-city-temp
          span Weather: {{day.weather[0].main}}
div#svg-wrap
