Development/jade/views/home.jade
h2.weather__error(ng-show="error") We have some problem with weather service. Please, try again later.
section.weather__city(ng-repeat="city in weatherList" ng-hide="error")
  a.weather__city-link(href="#/city/{{weatherList[$index].id}}/{{$index}}")
    div
      h2.weather__city-name {{weatherList[$index].name}}
      img.weather__city-photo(ng-src="{{cityImages[$index]}}")
      p.weather__city-temp {{weatherList[$index].main.temp | number:0}} ℃

Production/views/home.html

<h2 ng-show="error" class="weather__error">We have some problem with weather service. Please, try again later.</h2>
<section ng-repeat="city in weatherList" ng-hide="error" class="weather__city"><a href="#/city/{{weatherList[$index].id}}/{{$index}}" class="weather__city-link">
    <div>
      <h2 class="weather__city-name">{{weatherList[$index].name}}</h2><img ng-src="{{cityImages[$index]}}" class="weather__city-photo"/>
      <p class="weather__city-temp">{{weatherList[$index].main.temp | number:0}} ℃</p>
    </div></a></section>
